<!DOCTYPE html>

<html>

<head>
    
    <style>
    body{
    
   background-image: url(/image/pb.jpg);
      width: auto;
      height: auto;
    }   
    </style>

<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      {{>header}}
    {{!-- <div class="main-content">
        <img class="circle" src="/image/img.jpg">
    </div> --}}
  

  <div class = "image-container">
   
<div>     
    <img src="/image/bnk.png" width="250px"
  height="250px">

<p class="name">Hi! I am Bala, a web designer/developer focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web design/development since 2018. I enjoy creating beautifully designed, intuitive and functional websites</p>
  </div>

  </div>

    <div class="skills">
        <h2>Skills</h2>
    <img src="/image/nodejs.png">
    <img src="/image/mongodb.jpg">
    <img src="/image/css.jpg">
    <img src="/image/sql.jpg">
  </div>
  <div class = "image-container">
        <p class="sub"><a href="/projects"><img src="/image/front.png" height="50px"
      width="50px"></a></p>
  </div>
</body>


</html>