<!DOCTYPE html>

<html>
<head>

     <style>
    body{
    
     background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    }  
    </style>



    <link rel="stylesheet" href="/css/style.css">

</head>


<body>
      {{>header}}

      <div class = "image-container">
          <img src="/image/bnk.png" width="250px"
  height="250px">
      <p class="name">I Am Bala Nagendra Kumar N</p>
      <p class="sub">web developer</p>
      <p class="sub"><a href="/about">click here to go next page</a></p>
      </div>

</body>


</html>