<!DOCTYPE html>

<html>
<head>

     <style>
    body{
    
     background-image: url(/image/pb.jpg);
      background-size: cover;
   background-attachment: fixed;
    }  
    </style>


    <link rel="stylesheet" href="/css/style.css">

</head>


<body>
      {{>header}}

      <div class = "image-container">
          <img src="/image/bnk.png" width="250px"
  height="250px">
      <p class="name">I Am Bala Nagendra Kumar N</p>
      <p class="sub">web developer</p>
      <p class="sub"><a href="/about"><img src="/image/front.png" height="50px"
      width="50px"></a></p>
      </div>

</body>


</html>