<!DOCTYPE html>

<html>

<head>
    
     <style>
    body{
       
            background-image: url(/image/pb.jpg);
      background-size: cover;
   background-attachment: fixed;

    }
    </style>
    
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      {{>header}}
    

  <div class = "image-container">
   
<div>     
    <img src="/image/project.png" width="250px"
  height="250px">
 

<h1><a href="http://bnk-weather-application.herokuapp.com/">Weather website</a></h1>
<p class="name"> A Web Application Used To Forecast Weather of any location (NodeJs,HTML,CSS)</p>
<h1><a href="https://bnk-chat-app.herokuapp.com/chat.html?username=BNK&room=bnk">Chat Application</a> </h1>
<p class="name"> A Real Time Chat-Application On The Web Built Using (NodeJs,HTML,CSS)</p>
</div>

  <div class = "image-containerr">
        <p class="sub"><a href="/about"><img src="/image/front.png" height="50px"
      width="50px"></a></p>
  </div>


</body>


</html>